@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* header */
header{
    height: 100px;
}

/* banners container */
.banner-area{
    background-color: #ccc;

    display: flex;
    flex-direction: column;
}
.banner-area #banner1,
.banner-area #banner2{
    flex: 1;

    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
}
.anime-info--container{
    background-color: rgba(0, 0, 0, .5);
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.anime-info{
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    width: 50%;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anime-info .title{
    margin: 15px;
    text-shadow: 1px 2px 0 #000;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.anime-info .genres ul{
    list-style: none;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.anime-info .genres a,
.anime-info .see-more a{
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 30%;
    padding: 5px;
    font-weight: 600;
    transition: all .3s ease;

    display: block;
    text-align: center;
}
.anime-info .genres a:hover,
.anime-info .see-more a:hover{
    color: #fe904c;
}
.anime-info .synopsis p{
    text-align: left;
    margin: 15px;
    text-shadow: 1px 2px 0 #000;
    word-break: break-all;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    -webkit-box-orient: vertical;
    /* Utilizaremos a reticências caso o texto da sinopese seja mt grande */
}
.anime-info .see-more{
    padding: 15px;
}
.anime-info .see-more a{
    padding: 15px 25px;
}

/* Main */
.section-title{
    padding: 10px;
    color: #fe904c;
    background-color: #555;
    text-shadow: 0 0 1px #fe1515;

    display: flex;
    justify-content: center;
    align-items: center;
}

.anime-titles--container{
    background-color: #333;
    padding-bottom: 30px;

    display: flex;
    justify-content: center;
}
.anime-titles--container .wrapper{
    width: 85%;

    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.wrapper i{
    background-color: #eee;
    font-size: 1.75rem;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}
.wrapper .fa-angles-left{
    left: -22px;
}
.wrapper .fa-angles-right{
    right: -22px;
}
.wrapper .carousel{
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;

    display: grid;
    grid-auto-flow: column;
    gap: 10px 25px;
}
.wrapper .carousel .anime-title{
    width: 256px;
    height: 323px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.anime-title:hover{
    transform: scale(0.95);
    border: 2px solid #fff;
}
.anime-title .cover{
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: all .3s ease;

    display: flex;
    justify-content: center;
    align-items: end;
    position:absolute;
}
.anime-title .cover:hover{
    background-color: transparent;
}
.anime-title .cover span{
    margin-bottom: 20px;
    font-weight: 600;
    padding: 0 5px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-align: center;
}
.anime-title img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    user-select: none;
}

/* extra classes */
.carousel.dragging{
    user-select: none;
    scroll-behavior: auto;
}



/* Responsivity */
@media (max-width: 1024px){
    .banner-area .anime-info{
        width: 60%;
    }
    .anime-info .title h1{
        font-size: 28px;
    }

    .anime-titles--container .wrapper{
        width: 90%;
    }
}

@media (max-width: 950px){
    .anime-titles--container .wrapper{
        width: 95%;
    }
    .anime-titles--container i{
        display: none;
    }
}

@media (max-width: 850px) and (min-width: 660px){
    .banner-area .anime-info{
        width: 70%;
    }  

    .wrapper .carousel .anime-title{
        width: 236px;
        height: 303px;
        border-radius: 20px;
    }
}

@media (max-width: 660px) and (min-width: 500px){
    .banner-area .anime-info{
        width: 75%;
    }

    .wrapper .carousel .anime-title{
        width: 216px;
        height: 283px;
        border-radius: 20px;
    }
}

@media (max-width: 500px) and (min-width: 400px){
    .banner-area .anime-info{
        width: 90%;
    }

    .wrapper .carousel .anime-title{
        width: 196px;
        height: 263px;
        border-radius: 20px;
    }
}

@media (max-width: 400px){
    .banner-area .anime-info{
        width: 95%;
    }
    .banner-area .anime-info .genres a{
        font-size: 14px;
    }

    .wrapper .carousel .anime-title{
        width: 176px;
        height: 243px;
        border-radius: 20px;
    }
}