@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* header */
header{
    background-color: #333;
    height: 100px;

    display: flex;
    align-items: center;
}

.menu-mobile{
    display: none;
    justify-content: start;
    align-items: center;
    flex: 1;
}
.menu-mobile .menu-mobile--closeIcon{
    color: #fe904c;
    margin-left: 50px;
    font-size: 2.75rem;

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu-mobile .menu-mobile--icon{
    height: 40px;
    margin-left: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.menu-mobile .menu-mobile--icon .line{
    width: 40px;
    height: 8px;
    background-color: #fe904c;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: 99;
}
.menu ul{
    list-style: none;

    display: flex;
}
.menu li{
    margin-left: 10px;
    font-size: 1.2rem;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    height: 100px;
    padding: 0 3px;
    border-bottom: 5px solid transparent;
    border-right: 3px solid transparent;
    transition: all 0.5s ease;

    display: flex;
    align-items: center;
}
.menu a:hover{
    color: #fe1515;
    border-bottom: 5px solid #fe904c;
    border-right: 3px solid #fe904c;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.logo img{
    width: 80px;
    height: 80px;
}

.search-bar-mobile{
    display: none;
    justify-content: center;
    flex: 1;
}
.search-bar-mobile span{
    color: #fe904c;
    font-weight: 600;
}

.search-bar--container{
    display: flex;
    justify-content: center;
    flex: 1;
}
.search-bar--container input[type=text]{
    background-color: #eee;
    border: 0;
    outline: 0;
    font-size: 0.95rem;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.search-bar--container .search-bar--icon{
    background-color: #ccc;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search-bar--container .search-bar--icon:hover{
    background-color: #fe904c;
}

.search-bar--container .search-bar--closeIcon{
    background-color: #fe1515;
    color: #fff;
    font-size: 1.25rem;

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* banners container */
.banner-area{
    background-color: #ccc;

    display: flex;
    flex-direction: column;
}
.banner-area #banner1,
.banner-area #banner2{
    flex: 1;

    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
}
.anime-info--container{
    background-color: rgba(0, 0, 0, .5);
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.anime-info{
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    width: 50%;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anime-info .title{
    margin: 15px;
    text-shadow: 1px 2px 0 #000;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.anime-info .genres ul{
    list-style: none;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.anime-info .genres a,
.anime-info .see-more a{
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 30%;
    padding: 5px;
    font-weight: 600;
    transition: all .3s ease;

    display: block;
    text-align: center;
}
.anime-info .genres a:hover,
.anime-info .see-more a:hover{
    color: #fe904c;
}
.anime-info .synopsis p{
    text-align: left;
    margin: 15px;
    text-shadow: 1px 2px 0 #000;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    overflow: hidden;
    -webkit-box-orient: vertical;
    /* Utilizaremos a reticências caso o texto da sinopese seja mt grande */
}
.anime-info .see-more{
    padding: 15px;
}
.anime-info .see-more a{
    padding: 15px 25px;
}

/* Main */
.section-title{
    padding: 10px;
}

.anime-titles--container{
    background-color: #333;

    display: flex;
    justify-content: center;
}
.anime-titles--container .wrapper{
    width: 85%;

    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.wrapper i{
    background-color: #eee;
    font-size: 1.75rem;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wrapper .fa-angles-left{
    left: -22px;
}
.wrapper .fa-angles-right{
    right: -22px;
}
.wrapper .carousel{
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;

    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}
.wrapper .carousel .anime-title{
    width: 256px;
    height: 323px;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.anime-title img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    user-select: none;
}

/* extra classes */
.carousel.dragging{
    user-select: none;
    scroll-behavior: auto;
}

/* Media Queries */

@media (max-width: 1000px){
    header{
        position: relative;
    }

    .menu{
        background-color: rgb(51, 51, 51, .7);

        display: none;
        position: absolute;
        top: 100px;
    }
    .menu ul{
        display: block;
    }
    .menu li{
        margin: 0;
    }
    .menu a{
        height: auto;
        padding: 5px 10px;
    }
    .menu a:hover{
        color: #fe904c;
    }

    .menu-mobile{
        display: flex;
    }
}

@media (min-width: 601px) and (max-width: 740px){
    .search-bar--container{
        margin-right: 8px;
    }
}

@media (max-width: 600px){
    header{
        position: relative;
    }

    .search-bar--container{
        width: 100%;

        display: none;
        position: absolute;
        bottom: -39px;
    }
    .search-bar--container input[type=text]{
        border-radius: 0;
        width: 60%;
    }
    .search-bar--container .search-bar--icon{
        border-radius: 0;
        font-size: 1.25rem;
        flex: 1;
    }
    .search-bar--container .search-bar--closeIcon{
        display: flex;
        flex: 1;
    }

    .search-bar-mobile{
        display: flex;
    }
}